<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PizzaHub{% endblock %}</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Playfair+Display:ital,wght@0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-inner">
            <a href="{% url 'menu' %}" class="navbar-brand">🍕 PizzaHubEgorka</a>
            <ul class="navbar-links">
                <li><a href="{% url 'menu' %}">Меню</a></li>
                <li><a href="{% url 'order_list' %}">Замовлення</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p> <strong>PizzaHubEgorka</strong> Доставка з 10:00 до 23:00</p>
    </footer>

</body>
</html>
